.background1 {
    background-image: url(../public/bg.png);
    background-position: center;
}


.countainerMain {
    display: flex;
    flex-direction: column;
    max-width: 667px;
    margin: auto;
    padding: 203px 0 207px 0;
    gap: 35px;

    h1 {
        font-family: Playfair Display;
        font-weight: 400;
        font-size: 100px;
        line-height: 96px;
        text-align: center;
    }


    p {
        font-family: DM Sans;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        text-align: center;

    }


    .actionsOnMain {
        display: flex;
        justify-content: center;
        gap: 16px;

        button {
            width: 163px;
            height: 64px;
            gap: 10px;
            border-radius: 118px;
            padding-top: 20px;
            padding-right: 32px;
            padding-bottom: 20px;
            padding-left: 32px;
        }

        .redButton {
            background: #AD343E;
            color: #fff;
            border: 0;
        }

        .whiteButton {
            background-color: transparent;
            color: #182226;

        }
    }
}


.background2 {
    background-color: #fff;


    .title {
        text-align: center;
        padding-top: 92px;
        padding-bottom: 64px;
        font-family: Playfair Display;
        font-weight: 500;
        font-size: 55px;
        line-height: 60.5px;
    }

}

.countainerBlock {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1296px;
    padding-bottom: 120px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 34px 32px 34px;
        border: 1.5px solid #DBDFD0;
        border-radius: 12px;
        gap: 15px;

        h1 {
            font-family: DM Sans;
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: -3%;
            text-align: center;
            color: #2C2F24;
        }

        p {
            font-family: DM Sans;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #2C2F24;
            max-width: 230px;
        }

        button {
            font-family: DM Sans;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            vertical-align: middle;
            border: 0;
            color: #AD343E;
            background-color: #fff;
        }

    }
}


.background3 {
    background: #F9F9F7;
}

.allItems {
    max-width: 1296px;
    margin: auto;
    padding: 120px 0 120px 0;


    h1 {
        padding-bottom: 64px;
        font-family: Playfair Display;
        font-weight: 500;
        font-size: 55px;
        line-height: 60.5px;
        color: #2C2F24;
    }

    .blocks {
        display: flex;
        justify-content: space-between;

        div {
            max-width: 306px;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 20px;


            h2 {
                font-family: DM Sans;
                font-weight: 700;
                font-size: 24px;
                line-height: 30px;
                letter-spacing: -3%;
                color: #2C2F24;
            }

            p {
                font-family: DM Sans;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #414536;
            }
        }
    }
}