.firstSec {
    background: #F9F9F7;
    padding: 85px 0 120px 0;

    .firstBlock {
        max-width: 1296px;
        margin: auto;
        display: flex;
        gap: 90px;


        .right {
            max-width: 540px;
            padding: 131px 0 131px 0;
            display: flex;
            flex-direction: column;
            gap: 24px;

            h1 {
                font-family: Playfair Display;
                font-weight: 500;
                font-style: Medium;
                font-size: 55px;
                line-height: 60.5px;
                color: #2C2F24;
            }

            .titleP {
                font-family: DM Sans;
                font-weight: 500;
                font-style: Medium;
                font-size: 18px;
                line-height: 28px;
                color: #2C2F24;
            }

            .textP {
                font-family: DM Sans;
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 24px;
                color: #414536;
            }
        }
    }
}

.secondSec {
    background: #FFFFFF;
    padding: 120px 0 120px 0;

    .secondBlock {
        max-width: 1296px;
        margin: auto;
        display: flex;
        gap: 131px;


        .leftB {
            max-width: 610px;

            .up {
                max-width: 556px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding-bottom: 60px;

                h1 {
                    font-family: Playfair Display;
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 55px;
                    line-height: 60.5px;
                    color: #2C2F24;

                }

                p {
                    font-family: DM Sans;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 16px;
                    line-height: 24px;
                    color: #414536;


                }
            }

            .down {
                display: flex;
                flex-wrap: wrap;
                gap: 24px;
                justify-content: center;
                align-items: center;

                .infoBlock {
                    border: 1px solid #DBDFD0 ;
                    width:293px ;
                    height:174px ;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
                    h1 {
                        font-family: Playfair Display;
                        font-weight: 500;
                        font-style: Medium;
                        font-size: 55px;
                        line-height: 60.5px;
                        text-align: center;
                        color: #2C2F24;
                    }

                    p {
                        font-family: DM Sans;
                        font-weight: 500;
                        font-style: Medium;
                        font-size: 18px;
                        line-height: 28px;
                        text-align: center;
                        color: #414536;
                    }

                }
            }


        }
    }
}